In [1]:
import os
import pandas as pd

In [2]:
csv_files = os.listdir(os.path.join('data', 'csv_paradise_papers.2018-02-14'))
csv_files

['paradise_papers.nodes.address.csv',
 'paradise_papers.nodes.entity.csv',
 'paradise_papers.nodes.other.csv',
 'paradise_papers.nodes.officer.csv',
 'paradise_papers.edges.csv',
 'paradise_papers.nodes.intermediary.csv']

## Get overview of data structure

In [3]:
data = {}
for csv_file in csv_files:
    file_type = csv_file.split('.')[-2]
    
    data[file_type] = pd.read_csv(os.path.join('data', 'csv_paradise_papers.2018-02-14', csv_file), low_memory=False)

In [4]:
paradise_data = {}

for file_type, file_data in data.items():
    paradise_data[file_type] = pd.Series(file_data.columns.values)

pd.DataFrame(paradise_data).head(20)

,address,entity,other,officer,edges,intermediary
0,node_id,node_id,node_id,node_id,START_ID,node_id
1,name,name,name,name,TYPE,name
2,address,jurisdiction,country_codes,country_codes,END_ID,country_codes
3,country_codes,jurisdiction_description,countries,countries,link,countries
4,countries,country_codes,sourceID,status,start_date,sourceID
5,sourceID,countries,valid_until,sourceID,end_date,valid_until
6,valid_until,incorporation_date,note,valid_until,sourceID,note
7,note,inactivation_date,NaN,note,valid_until,NaN
8,NaN,struck_off_date,NaN,NaN,NaN,NaN
9,NaN,closed_date,NaN,NaN,NaN,NaN
10,NaN,ibcRUC,NaN,NaN,NaN,NaN
11,NaN,status,NaN,NaN,NaN,NaN
12,NaN,company_type,NaN,NaN,NaN,NaN
13,NaN,service_provider,NaN,NaN,NaN,NaN
14,NaN,sourceID,NaN,NaN,NaN,NaN
15,NaN,valid_until,NaN,NaN,NaN,NaN
16,NaN,note,NaN,NaN,NaN,NaN

In [5]:
for file_type, file_data in data.items():
    print(f"{file_type}: has {file_data.shape[0]} rows and {file_data.shape[1]} columns \n")
    print(file_data.dtypes)
    print("-" * 100)

address: has 223350 rows and 8 columns

node_id            int64
name              object
address           object
country_codes     object
countries         object
sourceID          object
valid_until       object
note             float64
dtype: object
----------------------------------------------------------------------------------------------------
entity: has 290086 rows and 17 columns

node_id                       int64
name                         object
jurisdiction                 object
jurisdiction_description     object
country_codes                object
countries                    object
incorporation_date           object
inactivation_date           float64
struck_off_date              object
closed_date                  object
ibcRUC                       object
status                       object
company_type                 object
service_provider             object
sourceID                     object
valid_until                  object
note                         object
dtype: object
----------------------------------------------------------------------------------------------------
other: has 2919 rows and 7 columns

node_id           int64
name             object
country_codes    object
countries        object
sourceID         object
valid_until      object
note             object
dtype: object
----------------------------------------------------------------------------------------------------
officer: has 350008 rows and 8 columns

node_id           int64
name             object
country_codes    object
countries        object
status           object
sourceID         object
valid_until      object
note             object
dtype: object
----------------------------------------------------------------------------------------------------
edges: has 1657838 rows and 8 columns

START_ID        int64
TYPE           object
END_ID          int64
link           object
start_date     object
end_date       object
sourceID       object
valid_until    object
dtype: object
----------------------------------------------------------------------------------------------------
intermediary: has 1568 rows and 7 columns

node_id           int64
name             object
country_codes    object
countries        object
sourceID         object
valid_until      object
note             object
dtype: object
----------------------------------------------------------------------------------------------------

## On careful consideration, we can see all node csv have `node_id` which is unique identity of that information and edge csv have `START_ID` and `END_ID` which tells about connection between 2 nodes.